@import "src/vars";

.work_experience {
  margin-top: 20px;
}

.experience {
  margin-top: 2px;
  margin-bottom: 40px;
}

.projects {
  .project {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}



