@import "src/vars";

.button {

  display: flex;

  padding: 2px 30px;
  border: 1px solid $bxsys-black;
  border-radius: 2px;

  text-decoration: none;

  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  font-size: 18px;

  .arrow {
    margin-right: 5px;
    display: flex;
  }

  transition: background-color ease-in-out 100ms;

  &:hover {
    background-color: darken($bxsys-white, 8%);
  }

  &:active {
    background-color: darken($bxsys-white, 16%);
  }
}
